/* cool */
body {
  background-color: #f1f3f3;
}

.content-container{
  position:relative;
  z-index: 1;
}

.carousel-caption img {
  width: 10rem;
  border-radius: 5rem;
  margin-top: 1.5rem;
}

@media (max-width: 767px) {
  .carousel-caption img {
    width: 4rem;
    border-radius: 4rem;
    margin-top: 0.5rem;
  }
}

h4 {
  text-align: center;
  color: #ff6161;
}

.item-price {
  text-align: center;
  font-size: 1rem;
}

.carousel-control-prev {
  left: -7%;
}

.carousel-control-next {
  right: -7%;
}

.carousel-control-prev i,
.carousel-control-next i {
  position: absolute;
  top: 50%;
  display: inline-block;
  z-index: 1;
}
.carousel-control-prev-icon {
  margin-left: -50px;
}
.carousel-control-next-icon {
  margin-right: -50px;
}
.toast-position {
  position: absolute;
  z-index: 1;
  top: 50;
  right: 0;
}
.figure-img {
  height: 300px;
  object-fit: cover;
  object-position: center center;
}
