html,
body {
  height: 100%;
}

.form-signin {
  max-width: 370px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.bg-img {
  min-height: 100vh;
  background-image: url("/static/image/4.jpg");
  background-size:contain;
  background-position: center center;
}
