{% extends 'sside_bar.html' %} {% block content %}
<div class="container">
  <main>
    <div class="py-1 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="../static/image/user.png"
        alt=""
        width="72"
        height="70w"
      />
      <h2>使用者資料表單</h2>
      <p class="lead">請在此處修改你的資料，並按下儲存進行修正。</p>
    </div>
    <div class="row g-5 justify-content-center">
      <div class="col-lg-6 col-12">
        <h4 class="mb-3">使用者資訊</h4>
        <form action="/settings" method="POST">
          <div class="row g-2">
            <!-- 姓名 -->
            <div class="col-12">
              <label for="name" class="form-label">姓名</label>
              <input type="text" class="form-control" id="name" name="name" />
              <div class="invalid-feedback">請填寫姓名！！</div>
            </div>
            <!-- 生日 -->
            <div class="col-12">
              <label for="birth" class="form-label">生日</label>
              <input type="text" class="form-control" id="birth" name="birth" />
              <div class="invalid-feedback">請填寫生日！！</div>
            </div>
            <!-- 血型 -->
            <div class="col-12">
              <label for="blood" class="form-label">血型</label>
              <input type="text" class="form-control" id="blood" name="blood" />
              <div class="invalid-feedback">請填寫血型！！</div>
            </div>
            <!-- 電話 -->
            <div class="col-12">
              <label for="phone" class="form-label">電話</label>
              <input type="text" class="form-control" id="phone" name="phone" />
              <div class="invalid-feedback">請填寫電話！！</div>
            </div>
            <!-- mail -->
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="mail" />
              <div class="invalid-feedback">請填寫信箱！！</div>
            </div>
            <!-- 身分證 -->
            <div class="col-12">
              <label for="idno" class="form-label">身分證</label>
              <input type="text" class="form-control" id="idno" name="idno" />
              <div class="invalid-feedback">請填寫身分證！！</div>
            </div>
            <!-- 密碼 -->
            <div class="col-12">
              <label for="password" class="form-label">密碼</label>
              <input
                type="text"
                class="form-control"
                id="password"
                name="password"
              />
              <div class="invalid-feedback">請填寫密碼！！</div>
            </div>

            <button
              class="w-100 btn btn-primary btn-lg mt-5"
              type="submit"
              value="Settings"
            >
              儲存
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
<script></script>
{% endblock %}
