{% extends 'side_bar.html' %} {% block content %}
<div class="container" style="height: 100vh">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-lg-6 col-12">
      <div class="py-1 text-center">
        <!-- <img
                  class="d-block mx-auto mb-4"
                  src="../static/image/火鍋.jpg"
                  alt=""
                  width="72"
                  height="70"
                /> -->
        <h2>排隊練歌表單</h2>
        <p class="lead">請在此處輸入練歌資料，並按下儲存進行送出</p>
      </div>
      <h4 class="mb-3">使用者資訊</h4>
      <form action="/settings" method="POST">
        <div class="row g-2">
          <!-- 姓名 -->
          <div class="col-12">
            <label for="name" class="form-label">歌曲名稱</label>
            <input type="text" class="form-control" id="name" name="name" />
            <div class="invalid-feedback">請填寫姓名！！</div>
          </div>
          <!-- 生日 -->
          <div class="col-12">
            <label for="birth" class="form-label">練歌時間</label>
            <input type="text" class="form-control" id="birth" name="birth" />
            <div class="invalid-feedback">請填寫時間！！</div>
          </div>
          <!-- 血型 -->
          <div class="col-12">
            <label for="blood" class="form-label">成員</label>
            <input type="text" class="form-control" id="blood" name="blood" />
            <div class="invalid-feedback">請填寫成員！！</div>
          </div>
          <!-- 電話 -->
          <div class="col-12">
            <label for="phone" class="form-label">電話</label>
            <input type="text" class="form-control" id="phone" name="phone" />
            <div class="invalid-feedback">請填寫電話！！</div>
          </div>

          <button
            class="btn btn-primary btn-lg mt-5"
            type="submit"
            value="Settings"
          >
            儲存
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
